body {
  background-size: cover;
  height: 120vh;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

h1 {
  margin: 50px 0 5px 0;
  /* padding-bottom: 10px; */
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 30px;
}

.container {
  max-width: 60%;
}
.title {
  margin: 0 20px;
}

.fahrenheit {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
}

.convertor{
  padding: 0;
}

.main {
  border: 2px solid white;
  padding: 10px 10px;
  margin: 0 auto;
  background: hsla(203, 69%, 84%, 1);
  background: linear-gradient(135deg, hsla(203, 69%, 84%, 1) 0%, hsla(18, 76%, 85%, 1) 79%);
}

.mainWeather {
  width: 150px;
  margin: 20px;
}
.current {
  border: 2px solid white;
  padding: 50px 20px;
  margin-bottom: 10px;
}

.city {
  font-size: 40px;
}

.dateTime h3{
  font-size: 18px;
  color: #ebaa50;
}
.dateTime p{
  color: #ebaa50;
  text-transform: capitalize;

}
.forecast {
  border: 2px solid white;
  padding: 30px 20px;
}

.currentTemp {
  font-size: 60px;
  color: #f9c548;
  line-height: 1;
}

.city,
.fahrenheit {
  color: #6abce6;
}

.search,
.location {
  font-size: 30px;
}

.temp {
  text-align: center;
  margin: 0 auto;
}

.date {
  color: #ebaa50;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.rainCloud,
.rain,
.cloudSun,
.showers {
  width: 90px;
}

.smallSun {
  width: 100px;
}

a{
  color: #ebaa50;
}

a:hover{
  color: #6abce6;
}

.openSource{
  margin-top: 10px;
  color: teal ;
}

p{
  margin: 0;
  font-size: 15px;
  color: #6abce6;
}

