body {
  background-image: url("../images/1.jpg ");
  background-size: cover;
  background-position: top;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  margin-top: 80px;
  
}

h1 {
  margin: 50px 0 5px 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 30px;
}

img{
  width:80px;
}

.container {
  max-width: 65%;
}
.title {
  margin: 0 20px;
}

.fahrenheit {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
}

.convertor{
  padding: 0;
}

.main {
  border: 2px solid rgba(237, 229, 229, 1);
  padding: 10px 10px;
  margin: 0 auto;
  background-color: rgba(237, 229, 229, 0.4);
}

.mainWeather {
  width: 120px;
  margin: 0 20px;
}

.current {
  padding: 20px;
}

.city {
  font-size: 40px;
}

.dateTime h3{
  font-size: 12px;
  color: #e8ad26;
  font-weight: 500;
}

.dateTime p{
  color: #e8ad26;
  text-transform: capitalize;
}

.forecast {
  /* border-top: 2px solid grey; */
  padding: 0 20px 20px 20px;
}

.currentTemp {
  font-size: 60px;
  color: #f9c548;
  line-height: 1;
}

.city,
.fahrenheit {
  color: #1271a0;
}

.search,
.location {
  font-size: 30px;
}

.temp {
  text-align: center;
  margin: 0 auto;
}

.date {
  color: #f9c548;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.rainCloud,
.rain,
.cloudSun,
.showers {
  width: 90px;
}

.smallSun {
  width: 100px;
}

a{
  font-weight: 500;
  color: #f9c548;
}

a:hover{
  color: #6abce6;
}

.openSource{
  margin-top: 10px;
  color:white ;
}

p{
  margin: 0;
  font-size: 15px;
  color: #1271a0;
}

